html,
body {
  background-color: transparent;
  color: #0d375d;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
}

#title {
  background-color: #0d3960;
  color: #fff;
  display: block;
  margin: 0;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
  position: relative;
  top: -15px;
  left: -15px;
}

#application-wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

#application-wrapper div.ember-view {
  background-color: #e0e1e3;
  padding: 15px 15px 1px 15px;
}

input {
  border: 1px #0d3960 solid;
  border-radius: 5px;
  font-size: 100%;
  padding: 5px;
}

button[type=submit] {
  background-color: #b0010e;
  border: 1px #b0010e solid;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 100%;
  padding: 10px 5px;
  width: 100%;
  text-transform: uppercase;
}


/* orientation page */

.firstName {
  float: left;
  width: 45%;
}

.lastName {
  float: right;
  width: 45%;
}

.selectOrientation {
  margin-top: 15px;
  clear: both;
  width: 100%;
}

.signUp {
  clear: both;
  margin-top: 15px;
}

.remindLater {
  border: 2px #0d375d solid;
  border-radius: 5px;
  display: block;
  font-size: 100%;
  text-transform: uppercase;
}

.remindLater a:link,
.remindLater a:active,
.remindLater a:visited {
  padding: 10px 5px;
  display: block;
  width: 100%;
  text-align: center;
  color: #0d375d;
}

.skipThis {
  text-align: center;
}