html,
body {
  background-color: transparent;
  color: #0d375d;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
}

a:link,
a:active,
a:visited {
  color: #0e3860;
}

#title {
  background-color: #0d3960;
  color: #fff;
  display: block;
  margin: 0;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
  position: relative;
  top: -15px;
  left: -15px;
}

#application-wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

#application-wrapper div.ember-view {
  background-color: #e0e1e3;
  padding: 15px 15px 1px 15px;
}

form {
  text-align: center;
}

input {
  background-color: #eaeaea;
  border: 1px #0d3960 solid;
  border-radius: 5px;
  font-size: 100%;
  padding: 5px;
  width: 75%
}

button[type=submit] {
  margin: 15px 0;
  background-color: #b0010e;
  border: 1px #b0010e solid;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 100%;
  padding: 10px 5px;
  width: 100%;
  text-transform: uppercase;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #449254;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAMAAACo9wirAAAAYFBMVEVgom3///9Gk1ZFklW618BIlVhLlluu0LW007vL4c+31b3J381JlVnG3svR5NWEt47O4tLD3MhIlFdMl1uqzbHT5denzK+kyqxEkVREklS82MGx0ri+2cSx0be718G+2cO1O2/xAAAAfElEQVR42u2SVw6AMAxDcUPLpuw97n9LlgSoQA8A5Cex9D5sK4ZR6+cHvgzIMTnLpJMKMCDmh+IxGgVgJoKd4AFMpnpgLjx/O30PLruaJBuOWA7hwKa7FNQimgkRoaf7mGQhTNMQFj32kCHPkemKKoBC32RZrqv6P+pdwAQUF3SzOG6XwQAAAABJRU5ErkJggg==);
  background-position: right 13px center;
  background-repeat: no-repeat;
  border: 1px #449254 solid;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px; /* cannot be set lower or causes iOS zoom */
  padding: 10px 50px 10px 10px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

/* 
 * /orientation 
 */

.firstName {
  float: left;
  width: 45%;
  margin-bottom: 15px;
}

.lastName {
  float: right;
  width: 45%;
  margin-bottom: 15px;
}

.selectOrientation {
  clear: both;
}

.remindLater {
  border: 2px #0d375d solid;
  border-radius: 5px;
  display: block;
  font-size: 100%;
  text-transform: uppercase;
}

.remindLater a:link,
.remindLater a:active,
.remindLater a:visited {
  padding: 10px 0;
  display: block;
  width: 100%;
  text-align: center;
  color: #0d375d;
  text-decoration: none;
}

.secondary {
  text-align: center;
}


/* 
 * /address 
 */

.checkAddress {
  margin: 15px 0;
}