html,
body {
  background-color: transparent;
  color: #0d375d;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
}

#title {
  background-color: #0d3960;
  color: #fff;
  display: block;
  margin: 0;
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#application-wrapper {
  padding: 75px 15px 15px 15px;
  background-color: #e0e1e3;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input {
  border: 1px #0d3960 solid;
  border-radius: 5px;
  font-size: 100%;
  padding: 5px;
}

button[type=submit] {
  background-color: #b0010e;
  border: 1px #b0010e solid;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 100%;
  margin: 15px 0;
  padding: 10px 5px;
  width: 100%;
}

