<p>Call rep 1/3</p>

<p>Good news!  Based on your address we’ve determined that you live in &lt;New York&gt; and are represented by &lt;Sen. Ringo Starr&gt;, one of our targets for the Mayday campaign.  Voicing your concern is one of the most effective ways to get Ringo’s attention and ensure he is aware of how important campaign finance reform is to the people of California.  Just confirm your phone number and click the button below and we’ll connect you with Sen. Starr’s office now.</p>

<form {{action "next" on="submit"}}>
{{input type="tel" placeholder="Your Phone Number"}}

<button type="submit">Call now</button>
</form>

<p class="secondary">{{link-to "Skip if you can't call right now" "social"}}</p>

{{outlet}}
