<p>We’re connecting you now, just answer the incoming call we placed to the phone number you provided and you’ll be connected with Sen. Starr’s office.</p>

<p>Once connected, introduce yourself as a constituent and Mayday volunteer, then ask if Rep. Starr will support campaign finance reform.  Here are some suggested talking points:</p>

<ul>
<li>Talking point one</li>
<li>Talking point two</li>
<li>Talking point three</li>
</ul>


<form {{action "next" on="submit"}}>
{{input placeholder="How did they respond?"}}

<button type="submit">Continue</button>
</form>

{{outlet}}
