<header>Ready to get started?</header>

<p>Based on your ZIP code you may have a rep who hasn&rsquo;t taken a position on reform.</p>
<p><strong>Tell us your address, we&rsquo;ll figure it out</strong></p>


<form {{action "next" on="submit"}}>
{{input value=address placeholder="Street Address"}}
<button type="submit" class='checkAddress'>Check my address</button>
</form>

{{outlet}}
