<header>Uh Oh!</header>

<div style="text-align: center">
  <p>Seems like we&rsquo;ve run into an error. Please <a href="mailto:info@mayday.us">email us</a> with details, and we&rsquo;ll look into it as soon as possible.</p>
</div>
