<div style="text-align: center">
  <p>Processing...</p>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     width="100"
     height="100"
     id="svg2"
     version="1.1">
    <g
       transform="translate(0,-952.36218)">
      <path
         transform="matrix(0.55530369,0,0,0.55530369,11.922033,906.90936)"
         style="fill:#89979d;fill-opacity:1;stroke:none">
        <animate
          attributeName="d"
          keyTimes="0; 0.5; 1"
          values="m 68.571429,86.259087 22.259312,64.037203 67.781509,1.38129 -54.0245,40.95844 19.63196,64.89089 -55.648283,-38.72349 -55.648291,38.72349 19.631963,-64.89089 -54.024493,-40.95845 67.781506,-1.38128 z;
          
          m 68.571429,86.259087 44.518631,33.399883 45.52219,32.01861 -18.00817,52.66086 -16.38437,53.18847 -55.648283,-0.85368 -55.648291,0.85368 -16.3843652,-53.18847 -18.0081648,-52.66087 45.522191,-32.0186 z;
          
          m 68.571429,86.259087 22.259312,64.037203 67.781509,1.38129 -54.0245,40.95844 19.63196,64.89089 -55.648283,-38.72349 -55.648291,38.72349 19.631963,-64.89089 -54.024493,-40.95845 67.781506,-1.38128 z"
          dur="1s"
          repeatCount="indefinite"
          />
        </path>
    </g>
  </svg>
</div>
