<p>You&rsquo;re all set, thanks for joining the Mayday crew!  Now you can start engaging with other volunteers in our Subreddit and share the campaign with your friends:</p>

<p>Share on Facebook</p>
<p>Share on Twitter</p>

<!--p class="secondary"><a href="/">Done</a></p-->

{{outlet}}
