<p>Step Four. You’re all set, thanks for joining the Mayday crew!  Now you can start engaging with other volunteers in our Subreddit and share the campaign with your friends:</p>

<p>...buttons...</p>

<p class="secondary"><a href="/">Done</a></p>

{{outlet}}
